* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
}
body main{
    background-color: rgb(109, 124, 138);
}

header{
    display: flex;
    flex-direction:column;
    justify-content:space-betwee    ;


}
nav{
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 10%;
}
.barraNavegacion {
    list-style-type: none;
    overflow: hidden;
    background: rgb(81,109,131);
    background: linear-gradient(176deg, rgba(81,109,131,1) 32%, rgba(184,186,186,1) 100%);


}
.barra {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*registracion usuaRIO*/
.registrar{
    width: 300px;
    margin:10px;
    padding: 10px;
    display:flex;
    flex-direction: column;
}


.input-error{
    border:red solid 2px
}
input:focus{
    outline: none;
}
small{
    color:red;
    visibility:hidden;
}

.error-show{
    visibility: visible;
}